<!-- <div class=profile-header-container>
  <div class = image>
    <img src="assets/default-profile.jpg" width="250" height="250" style = "float: left; padding: 20px">
  </div>
  <div>
    <h1 class = h1ph> {{PATIENT.firstName}} {{ PATIENT.lastName }} </h1>
    <h2 class = h2ph> Patient ID: {{ PATIENT.id }} </h2>
    <p class = pph> Date of Birth: {{ PATIENT.dateOfBirth }} </p>
    <p class = pph> {{PATIENT.donorStatus}} </p>
    <p class = pph> Blood Type: {{PATIENT.bloodType}} </p>
    <p class = pph> Religion: {{PATIENT.religion}} </p>
  </div>
</div> -->

<div>
  <h1 style="text-align:center; margin:200px">
    WAITING...
  </h1>
</div>