<div class=profile-header-container>
  <div class = image>
    <img src="assets/default-profile.jpg" width="250" height="250" style = "float: left; padding: 20px">
  </div>
  <div>
    <h1 class = h1ph> {{PATIENT.firstName}} {{ PATIENT.lastName }} </h1>
    <h2 class = .h2> Patient ID: {{ PATIENT.id }} </h2>
    <p class = .p> Date of Birth: {{ PATIENT.dateOfBirth }} </p>
    <p class = .p> {{PATIENT.donorStatus}} </p>
    <p class = .p> Blood Type: {{PATIENT.bloodType}} </p>
    <p class = .p> Religion: {{PATIENT.religion}} </p>
  </div>
</div>