.profile-header-container {
    background-color: #D2EDEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    padding: 50px !important;
    border-radius: 50px;
}

h1 {
    text-align: left;
    margin-left: 50%;
}

p {
    text-align:left;
    margin-left: 50%;
}

h2 {
    font-weight: 300;
    text-align: left;
    margin-left: 50%;
}

.image {
    margin: 100 !important;
}