.all {
    text-align:center;
}

.app-header-container {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 30px;
}

.hr1 {
    box-shadow: none;
    border: none;
    margin-bottom: 100px;
    height: 2px;
    background: black;
    
}

.white-pill {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    width: 25%;
    font-size: 20px;
}
/* ----------------------------------------------- */
.profile-header-container {
    background-color: #D2EDEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    padding: 50px !important;
    border-radius: 50px;
}

.h1ph {
    text-align: left;
    margin-left: 50%;
}

.pph {
    text-align:left;
    margin-left: 50%;
}

.h2ph {
    font-weight: 300;
    text-align: left;
    margin-left: 50%;
}

.image {
    margin: 100 !important;
}
/* ------------------------------------------------- */
.profile-details-container {
    background-color: #819C9A;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 300;
    color: #ffffff;
    padding: 40px;
    border-radius: 50px;
}

.h2 {
    font-weight: 400;
    text-align: left;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
}

p {
    text-align: left;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.sub-header {
    font-weight: 400;
    font-size: 18px;
}

/* ------------------------------------------- */