/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.pill {
    background-color: #ffffff;
    color: black;
    border-radius: 15px;
    display: inline-block;
    margin: 10px;
    text-align: left;
    width: 70%;
}

.white-pill {
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    text-align: left;
}